In [1]:
!wget -O teleCust1000t.csv https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DA0101EN/auto.csv

--2023-03-31 12:43:58--  https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DA0101EN/auto.csv
Resolving s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)... 67.228.254.196
Connecting to s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 24916 (24K) [text/csv]
Saving to: ‘teleCust1000t.csv’

teleCust1000t.csv   100%[===================>]  24.33K  --.-KB/s    in 0.01s

2023-03-31 12:43:58 (1.98 MB/s) - ‘teleCust1000t.csv’ saved [24916/24916]

In [2]:
import pandas as pd

mydata = pd.read_csv('teleCust1000t.csv')

mydata.head()

,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
4,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250

In [3]:
name_col = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]


mydata.columns = name_col

mydata.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
4,2,?,audi,gas,std,two,sedan,fwd,front,99.8,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250

In [4]:
#reading all the features

pd.set_option('display.max_columns', None)

mydata.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,four,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,five,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
4,2,?,audi,gas,std,two,sedan,fwd,front,99.8,177.3,66.3,53.1,2507,ohc,five,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250

In [5]:
mydata.shape

(204, 26)

In [6]:
mydata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          204 non-null    int64
 1   normalized-losses  204 non-null    object
 2   make               204 non-null    object
 3   fuel-type          204 non-null    object
 4   aspiration         204 non-null    object
 5   num-of-doors       204 non-null    object
 6   body-style         204 non-null    object
 7   drive-wheels       204 non-null    object
 8   engine-location    204 non-null    object
 9   wheel-base         204 non-null    float64
 10  length             204 non-null    float64
 11  width              204 non-null    float64
 12  height             204 non-null    float64
 13  curb-weight        204 non-null    int64
 14  engine-type        204 non-null    object
 15  num-of-cylinders   204 non-null    object
 16  engine-size        204 non-null    int64
 17  fuel-system        204 non-null    object
 18  bore               204 non-null    object
 19  stroke             204 non-null    object
 20  compression-ratio  204 non-null    float64
 21  horsepower         204 non-null    object
 22  peak-rpm           204 non-null    object
 23  city-mpg           204 non-null    int64
 24  highway-mpg        204 non-null    int64
 25  price              204 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.6+ KB

In [7]:
mydata.isnull().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [8]:
import numpy as np

mydata.replace('?', np.nan, inplace=True)

mydata.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,four,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,five,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
4,2,NaN,audi,gas,std,two,sedan,fwd,front,99.8,177.3,66.3,53.1,2507,ohc,five,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250

In [9]:
mydata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          204 non-null    int64
 1   normalized-losses  164 non-null    object
 2   make               204 non-null    object
 3   fuel-type          204 non-null    object
 4   aspiration         204 non-null    object
 5   num-of-doors       202 non-null    object
 6   body-style         204 non-null    object
 7   drive-wheels       204 non-null    object
 8   engine-location    204 non-null    object
 9   wheel-base         204 non-null    float64
 10  length             204 non-null    float64
 11  width              204 non-null    float64
 12  height             204 non-null    float64
 13  curb-weight        204 non-null    int64
 14  engine-type        204 non-null    object
 15  num-of-cylinders   204 non-null    object
 16  engine-size        204 non-null    int64
 17  fuel-system        204 non-null    object
 18  bore               200 non-null    object
 19  stroke             200 non-null    object
 20  compression-ratio  204 non-null    float64
 21  horsepower         202 non-null    object
 22  peak-rpm           202 non-null    object
 23  city-mpg           204 non-null    int64
 24  highway-mpg        204 non-null    int64
 25  price              200 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.6+ KB

In [10]:
mydata.isnull().sum()

symboling             0
normalized-losses    40
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 4
dtype: int64

**Columns with missing values**

<ol>
    <li>"normalized-losses": 40 missing data</li>
    <li>"num-of-doors": 2 missing data</li>
    <li>"bore": 4 missing data</li>
    <li>"stroke" : 4 missing data</li>
    <li>"horsepower": 2 missing data</li>
    <li>"peak-rpm": 2 missing data</li>
    <li>"price": 4 missing data</li>
</ol>

In [11]:
mydata.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [12]:
mean_normal = mydata['normalized-losses'].astype('float').mean()
mean_bore = mydata['bore'].astype('float').mean()
mean_stroke = mydata['stroke'].astype('float').mean()
mean_horse = mydata['horsepower'].astype('float').mean()
mean_peak = mydata['peak-rpm'].astype('float').mean()

print (mean_normal)
print (mean_bore)
print (mean_stroke)
print (mean_horse)
print (mean_peak)

122.0
3.3290499999999996
3.2582999999999993
104.22277227722772
5125.990099009901

In [13]:
mydata['normalized-losses'].replace(np.nan, mean_normal, inplace = True)
mydata['bore'].replace(np.nan, mean_bore, inplace = True)
mydata['stroke'].replace(np.nan, mean_stroke, inplace = True)
mydata['horsepower'].replace(np.nan, mean_horse, inplace = True)
mydata['peak-rpm'].replace(np.nan, mean_peak, inplace = True)

mydata.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
1,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
2,2,164,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,four,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
3,2,164,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,five,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
4,2,122.0,audi,gas,std,two,sedan,fwd,front,99.8,177.3,66.3,53.1,2507,ohc,five,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250

In [14]:
mydata.describe(include='all')

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
count,204.000000,204.0,204,204,204,202,204,204,204,204.000000,204.000000,204.000000,204.000000,204.000000,204,204,204.000000,204,204,204,204.000000,204,204,204.000000,204.000000,200
unique,NaN,52.0,22,2,2,2,5,3,2,NaN,NaN,NaN,NaN,NaN,7,7,NaN,8,39,37,NaN,60,24,NaN,NaN,185
top,NaN,122.0,toyota,gas,std,four,sedan,fwd,front,NaN,NaN,NaN,NaN,NaN,ohc,four,NaN,mpfi,3.62,3.40,NaN,68,5500,NaN,NaN,16500
freq,NaN,40.0,32,184,167,114,96,120,201,NaN,NaN,NaN,NaN,NaN,148,158,NaN,93,23,20,NaN,19,37,NaN,NaN,2
mean,0.823529,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.806373,174.075000,65.916667,53.749020,2555.602941,NaN,NaN,126.892157,NaN,NaN,NaN,10.148137,NaN,NaN,25.240196,30.769608,NaN
std,1.239035,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.994144,12.362123,2.146716,2.424901,521.960820,NaN,NaN,41.744569,NaN,NaN,NaN,3.981000,NaN,NaN,6.551513,6.898337,NaN
min,-2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.600000,141.100000,60.300000,47.800000,1488.000000,NaN,NaN,61.000000,NaN,NaN,NaN,7.000000,NaN,NaN,13.000000,16.000000,NaN
25%,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.500000,166.300000,64.075000,52.000000,2145.000000,NaN,NaN,97.000000,NaN,NaN,NaN,8.575000,NaN,NaN,19.000000,25.000000,NaN
50%,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.000000,173.200000,65.500000,54.100000,2414.000000,NaN,NaN,119.500000,NaN,NaN,NaN,9.000000,NaN,NaN,24.000000,30.000000,NaN
75%,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102.400000,183.200000,66.900000,55.500000,2939.250000,NaN,NaN,142.000000,NaN,NaN,NaN,9.400000,NaN,NaN,30.000000,34.500000,NaN
max,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120.900000,208.100000,72.300000,59.800000,4066.000000,NaN,NaN,326.000000,NaN,NaN,NaN,23.000000,NaN,NaN,49.000000,54.000000,NaN

In [15]:
mydata.isnull().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         2
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                4
dtype: int64

In [16]:
mydata['num-of-doors'].value_counts()

four    114
two      88
Name: num-of-doors, dtype: int64

In [17]:
mydata['num-of-doors'].value_counts().idxmax()

'four'

In [18]:
mydata['num-of-doors'].replace(np.nan, 'four', inplace = True)

In [19]:
mydata.dropna(subset=['price'], axis=0, inplace=True)

In [20]:
mydata.isnull().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [21]:
mydata.shape

(200, 26)

**Data Formatting**

In [22]:
mydata.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [23]:
mydata['normalized-losses'] = mydata['normalized-losses'].astype('float')
mydata['bore'] = mydata['bore'].astype('float')
mydata['stroke'] = mydata['stroke'].astype('float')
mydata['horsepower'] = mydata['horsepower'].astype('float')
mydata['peak-rpm'] = mydata['peak-rpm'].astype('float')
mydata['price'] = mydata['price'].astype('float')

In [24]:
mydata.describe(include='all')

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
count,200.000000,200.000000,200,200,200,200,200,200,200,200.000000,200.000000,200.000000,200.000000,200.000000,200,200,200.000000,200,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000
unique,NaN,NaN,22,2,2,2,5,3,2,NaN,NaN,NaN,NaN,NaN,6,7,NaN,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,toyota,gas,std,four,sedan,fwd,front,NaN,NaN,NaN,NaN,NaN,ohc,four,NaN,mpfi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,32,180,164,115,94,118,197,NaN,NaN,NaN,NaN,NaN,145,156,NaN,91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,0.830000,122.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.848000,174.228000,65.898000,53.791500,2555.705000,NaN,NaN,126.860000,NaN,3.329981,3.259816,10.170100,103.367228,5118.259901,25.200000,30.705000,13205.690000
std,1.248557,32.076542,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.038261,12.347132,2.102904,2.428449,518.594552,NaN,NaN,41.650501,NaN,0.268562,0.314177,4.014163,37.455570,479.240743,6.432487,6.827227,7966.982558
min,-2.000000,65.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.600000,141.100000,60.300000,47.800000,1488.000000,NaN,NaN,61.000000,NaN,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,0.000000,100.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.500000,166.675000,64.175000,52.000000,2163.000000,NaN,NaN,97.750000,NaN,3.150000,3.117500,8.575000,70.000000,4800.000000,19.000000,25.000000,7775.000000
50%,1.000000,122.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.000000,173.200000,65.500000,54.100000,2414.000000,NaN,NaN,119.500000,NaN,3.310000,3.290000,9.000000,95.000000,5162.995050,24.000000,30.000000,10270.000000
75%,2.000000,138.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102.400000,183.500000,66.675000,55.525000,2928.250000,NaN,NaN,142.000000,NaN,3.582500,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16500.750000
max,3.000000,256.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120.900000,208.100000,72.000000,59.800000,4066.000000,NaN,NaN,326.000000,NaN,3.940000,4.170000,23.000000,262.000000,6600.000000,49.000000,54.000000,45400.000000

In [25]:
mydata.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
1,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
2,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,four,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
3,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,five,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0
4,2,122.0,audi,gas,std,two,sedan,fwd,front,99.8,177.3,66.3,53.1,2507,ohc,five,136,mpfi,3.19,3.40,8.5,110.0,5500.0,19,25,15250.0

In [26]:
mydata['city-L/100km'] = 235/mydata['city-mpg']
mydata['highway-L/100km'] = 235/mydata['highway-mpg']

mydata.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,city-L/100km,highway-L/100km
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0,11.190476,8.703704
1,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0,12.368421,9.038462
2,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,four,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0,9.791667,7.833333
3,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,five,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0,13.055556,10.681818
4,2,122.0,audi,gas,std,two,sedan,fwd,front,99.8,177.3,66.3,53.1,2507,ohc,five,136,mpfi,3.19,3.40,8.5,110.0,5500.0,19,25,15250.0,12.368421,9.400000

In [27]:
mydata.shape

(200, 28)

In [28]:
mydata.drop('city-mpg', axis=1, inplace=True)

In [29]:
mydata.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,highway-mpg,price,city-L/100km,highway-L/100km
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111.0,5000.0,27,16500.0,11.190476,8.703704
1,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,2.68,3.47,9.0,154.0,5000.0,26,16500.0,12.368421,9.038462
2,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,four,109,mpfi,3.19,3.40,10.0,102.0,5500.0,30,13950.0,9.791667,7.833333
3,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,five,136,mpfi,3.19,3.40,8.0,115.0,5500.0,22,17450.0,13.055556,10.681818
4,2,122.0,audi,gas,std,two,sedan,fwd,front,99.8,177.3,66.3,53.1,2507,ohc,five,136,mpfi,3.19,3.40,8.5,110.0,5500.0,25,15250.0,12.368421,9.400000

**Data Normalization**

In [30]:
data = mydata[['width', 'length', 'height']]

data.head(15)

    width  length  height
0    64.1   168.8    48.8
1    65.5   171.2    52.4
2    66.2   176.6    54.3
3    66.4   176.6    54.3
4    66.3   177.3    53.1
5    71.4   192.7    55.7
6    71.4   192.7    55.7
7    71.4   192.7    55.9
9    64.8   176.8    54.3
10   64.8   176.8    54.3
11   64.8   176.8    54.3
12   64.8   176.8    54.3
13   66.9   189.0    55.7
14   66.9   189.0    55.7
15   67.9   193.8    53.7

In [31]:
#simnple feature scalling

data['width'] = data['width']/data['width'].max() 

data.head(15)

<ipython-input-31-54810a4d809a>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['width'] = data['width']/data['width'].max()

       width  length  height
0   0.890278   168.8    48.8
1   0.909722   171.2    52.4
2   0.919444   176.6    54.3
3   0.922222   176.6    54.3
4   0.920833   177.3    53.1
5   0.991667   192.7    55.7
6   0.991667   192.7    55.7
7   0.991667   192.7    55.9
9   0.900000   176.8    54.3
10  0.900000   176.8    54.3
11  0.900000   176.8    54.3
12  0.900000   176.8    54.3
13  0.929167   189.0    55.7
14  0.929167   189.0    55.7
15  0.943056   193.8    53.7

In [32]:
#min-max

mydata['length'] = (mydata['length']-mydata['length'].min())/(mydata['length'].max()-mydata['length'].min())

mydata['length'].head(15)

0     0.413433
1     0.449254
2     0.529851
3     0.529851
4     0.540299
5     0.770149
6     0.770149
7     0.770149
9     0.532836
10    0.532836
11    0.532836
12    0.532836
13    0.714925
14    0.714925
15    0.786567
Name: length, dtype: float64

In [33]:
# z score

mydata['height'] = (mydata['height'] - mydata['height'].mean())/mydata['height'].std()

mydata['height'].head(15)

0    -2.055427
1    -0.572999
2     0.209393
3     0.209393
4    -0.284750
5     0.785893
6     0.785893
7     0.868250
9     0.209393
10    0.209393
11    0.209393
12    0.209393
13    0.785893
14    0.785893
15   -0.037678
Name: height, dtype: float64

**Converting categorical to numeric**

In [34]:
mydata.dtypes

symboling              int64
normalized-losses    float64
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                 float64
stroke               float64
compression-ratio    float64
horsepower           float64
peak-rpm             float64
highway-mpg            int64
price                float64
city-L/100km         float64
highway-L/100km      float64
dtype: object

In [35]:
mydata.describe(include='all')

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,highway-mpg,price,city-L/100km,highway-L/100km
count,200.000000,200.000000,200,200,200,200,200,200,200,200.000000,200.000000,200.000000,2.000000e+02,200.000000,200,200,200.000000,200,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000
unique,NaN,NaN,22,2,2,2,5,3,2,NaN,NaN,NaN,NaN,NaN,6,7,NaN,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,toyota,gas,std,four,sedan,fwd,front,NaN,NaN,NaN,NaN,NaN,ohc,four,NaN,mpfi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,32,180,164,115,94,118,197,NaN,NaN,NaN,NaN,NaN,145,156,NaN,91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,0.830000,122.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.848000,0.494448,65.898000,-2.451372e-15,2555.705000,NaN,NaN,126.860000,NaN,3.329981,3.259816,10.170100,103.367228,5118.259901,30.705000,13205.690000,9.937914,8.041663
std,1.248557,32.076542,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.038261,0.184286,2.102904,1.000000e+00,518.594552,NaN,NaN,41.650501,NaN,0.268562,0.314177,4.014163,37.455570,479.240743,6.827227,7966.982558,2.539415,1.844764
min,-2.000000,65.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.600000,0.000000,60.300000,-2.467213e+00,1488.000000,NaN,NaN,61.000000,NaN,2.540000,2.070000,7.000000,48.000000,4150.000000,16.000000,5118.000000,4.795918,4.351852
25%,0.000000,100.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.500000,0.381716,64.175000,-7.377137e-01,2163.000000,NaN,NaN,97.750000,NaN,3.150000,3.117500,8.575000,70.000000,4800.000000,25.000000,7775.000000,7.833333,6.911765
50%,1.000000,122.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.000000,0.479104,65.500000,1.270358e-01,2414.000000,NaN,NaN,119.500000,NaN,3.310000,3.290000,9.000000,95.000000,5162.995050,30.000000,10270.000000,9.791667,7.833333
75%,2.000000,138.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102.400000,0.632836,66.675000,7.138301e-01,2928.250000,NaN,NaN,142.000000,NaN,3.582500,3.410000,9.400000,116.000000,5500.000000,34.000000,16500.750000,12.368421,9.400000
max,3.000000,256.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120.900000,1.000000,72.000000,2.474213e+00,4066.000000,NaN,NaN,326.000000,NaN,3.940000,4.170000,23.000000,262.000000,6600.000000,54.000000,45400.000000,18.076923,14.687500

In [36]:
convert_fuel = pd.get_dummies(mydata['fuel-type'])

convert_fuel.head(20)

    diesel  gas
0        0    1
1        0    1
2        0    1
3        0    1
4        0    1
5        0    1
6        0    1
7        0    1
9        0    1
10       0    1
11       0    1
12       0    1
13       0    1
14       0    1
15       0    1
16       0    1
17       0    1
18       0    1
19       0    1
20       0    1

In [37]:
mydata1 = pd.concat([mydata, convert_fuel], axis=1) 

mydata1.head(20)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,highway-mpg,price,city-L/100km,highway-L/100km,diesel,gas
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,0.413433,64.1,-2.055427,2548,dohc,four,130,mpfi,3.47,2.68,9.00,111.0,5000.0,27,16500.0,11.190476,8.703704,0,1
1,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,0.449254,65.5,-0.572999,2823,ohcv,six,152,mpfi,2.68,3.47,9.00,154.0,5000.0,26,16500.0,12.368421,9.038462,0,1
2,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,0.529851,66.2,0.209393,2337,ohc,four,109,mpfi,3.19,3.40,10.00,102.0,5500.0,30,13950.0,9.791667,7.833333,0,1
3,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,0.529851,66.4,0.209393,2824,ohc,five,136,mpfi,3.19,3.40,8.00,115.0,5500.0,22,17450.0,13.055556,10.681818,0,1
4,2,122.0,audi,gas,std,two,sedan,fwd,front,99.8,0.540299,66.3,-0.284750,2507,ohc,five,136,mpfi,3.19,3.40,8.50,110.0,5500.0,25,15250.0,12.368421,9.400000,0,1
5,1,158.0,audi,gas,std,four,sedan,fwd,front,105.8,0.770149,71.4,0.785893,2844,ohc,five,136,mpfi,3.19,3.40,8.50,110.0,5500.0,25,17710.0,12.368421,9.400000,0,1
6,1,122.0,audi,gas,std,four,wagon,fwd,front,105.8,0.770149,71.4,0.785893,2954,ohc,five,136,mpfi,3.19,3.40,8.50,110.0,5500.0,25,18920.0,12.368421,9.400000,0,1
7,1,158.0,audi,gas,turbo,four,sedan,fwd,front,105.8,0.770149,71.4,0.868250,3086,ohc,five,131,mpfi,3.13,3.40,8.30,140.0,5500.0,20,23875.0,13.823529,11.750000,0,1
9,2,192.0,bmw,gas,std,two,sedan,rwd,front,101.2,0.532836,64.8,0.209393,2395,ohc,four,108,mpfi,3.50,2.80,8.80,101.0,5800.0,29,16430.0,10.217391,8.103448,0,1
10,0,192.0,bmw,gas,std,four,sedan,rwd,front,101.2,0.532836,64.8,0.209393,2395,ohc,four,108,mpfi,3.50,2.80,8.80,101.0,5800.0,29,16925.0,10.217391,8.103448,0,1
11,0,188.0,bmw,gas,std,two,sedan,rwd,front,101.2,0.532836,64.8,0.209393,2710,ohc,six,164,mpfi,3.31,3.19,9.00,121.0,4250.0,28,20970.0,11.190476,8.392857,0,1
12,0,188.0,bmw,gas,std,four,sedan,rwd,front,101.2,0.532836,64.8,0.209393,2765,ohc,six,164,mpfi,3.31,3.19,9.00,121.0,4250.0,28,21105.0,11.190476,8.392857,0,1
13,1,122.0,bmw,gas,std,four,sedan,rwd,front,103.5,0.714925,66.9,0.785893,3055,ohc,six,164,mpfi,3.31,3.19,9.00,121.0,4250.0,25,24565.0,11.750000,9.400000,0,1
14,0,122.0,bmw,gas,std,four,sedan,rwd,front,103.5,0.714925,66.9,0.785893,3230,ohc,six,209,mpfi,3.62,3.39,8.00,182.0,5400.0,22,30760.0,14.687500,10.681818,0,1
15,0,122.0,bmw,gas,std,two,sedan,rwd,front,103.5,0.786567,67.9,-0.037678,3380,ohc,six,209,mpfi,3.62,3.39,8.00,182.0,5400.0,22,41315.0,14.687500,10.681818,0,1
16,0,122.0,bmw,gas,std,four,sedan,rwd,front,110.0,0.834328,70.9,1.032964,3505,ohc,six,209,mpfi,3.62,3.39,8.00,182.0,5400.0,20,36880.0,15.666667,11.750000,0,1
17,2,121.0,chevrolet,gas,std,two,hatchback,fwd,front,88.4,0.000000,60.3,-0.243571,1488,l,three,61,2bbl,2.91,3.03,9.50,48.0,5100.0,53,5151.0,5.000000,4.433962,0,1
18,1,98.0,chevrolet,gas,std,two,hatchback,fwd,front,94.5,0.220896,63.6,-0.737714,1874,ohc,four,90,2bbl,3.03,3.11,9.60,70.0,5400.0,43,6295.0,6.184211,5.465116,0,1
19,0,81.0,chevrolet,gas,std,four,sedan,fwd,front,94.5,0.264179,63.6,-0.737714,1909,ohc,four,90,2bbl,3.03,3.11,9.60,70.0,5400.0,43,6575.0,6.184211,5.465116,0,1
20,1,118.0,dodge,gas,std,two,hatchback,fwd,front,93.7,0.241791,63.8,-1.231856,1876,ohc,four,90,2bbl,2.97,3.23,9.41,68.0,5500.0,41,5572.0,6.351351,5.731707,0,1

In [38]:
mydata1.rename(columns={'gas':'gas_fuel', 'diesel':'diesel_fuel'}, inplace=True)

mydata1.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,highway-mpg,price,city-L/100km,highway-L/100km,diesel_fuel,gas_fuel
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,0.413433,64.1,-2.055427,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111.0,5000.0,27,16500.0,11.190476,8.703704,0,1
1,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,0.449254,65.5,-0.572999,2823,ohcv,six,152,mpfi,2.68,3.47,9.0,154.0,5000.0,26,16500.0,12.368421,9.038462,0,1
2,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,0.529851,66.2,0.209393,2337,ohc,four,109,mpfi,3.19,3.40,10.0,102.0,5500.0,30,13950.0,9.791667,7.833333,0,1
3,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,0.529851,66.4,0.209393,2824,ohc,five,136,mpfi,3.19,3.40,8.0,115.0,5500.0,22,17450.0,13.055556,10.681818,0,1
4,2,122.0,audi,gas,std,two,sedan,fwd,front,99.8,0.540299,66.3,-0.284750,2507,ohc,five,136,mpfi,3.19,3.40,8.5,110.0,5500.0,25,15250.0,12.368421,9.400000,0,1

In [39]:
convert_asp = pd.get_dummies(mydata['aspiration'])

convert_asp.head(20)

    std  turbo
0     1      0
1     1      0
2     1      0
3     1      0
4     1      0
5     1      0
6     1      0
7     0      1
9     1      0
10    1      0
11    1      0
12    1      0
13    1      0
14    1      0
15    1      0
16    1      0
17    1      0
18    1      0
19    1      0
20    1      0

In [40]:
mydata2 = pd.concat([mydata1, convert_asp], axis=1) 

mydata2.head(20)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,highway-mpg,price,city-L/100km,highway-L/100km,diesel_fuel,gas_fuel,std,turbo
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,0.413433,64.1,-2.055427,2548,dohc,four,130,mpfi,3.47,2.68,9.00,111.0,5000.0,27,16500.0,11.190476,8.703704,0,1,1,0
1,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,0.449254,65.5,-0.572999,2823,ohcv,six,152,mpfi,2.68,3.47,9.00,154.0,5000.0,26,16500.0,12.368421,9.038462,0,1,1,0
2,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,0.529851,66.2,0.209393,2337,ohc,four,109,mpfi,3.19,3.40,10.00,102.0,5500.0,30,13950.0,9.791667,7.833333,0,1,1,0
3,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,0.529851,66.4,0.209393,2824,ohc,five,136,mpfi,3.19,3.40,8.00,115.0,5500.0,22,17450.0,13.055556,10.681818,0,1,1,0
4,2,122.0,audi,gas,std,two,sedan,fwd,front,99.8,0.540299,66.3,-0.284750,2507,ohc,five,136,mpfi,3.19,3.40,8.50,110.0,5500.0,25,15250.0,12.368421,9.400000,0,1,1,0
5,1,158.0,audi,gas,std,four,sedan,fwd,front,105.8,0.770149,71.4,0.785893,2844,ohc,five,136,mpfi,3.19,3.40,8.50,110.0,5500.0,25,17710.0,12.368421,9.400000,0,1,1,0
6,1,122.0,audi,gas,std,four,wagon,fwd,front,105.8,0.770149,71.4,0.785893,2954,ohc,five,136,mpfi,3.19,3.40,8.50,110.0,5500.0,25,18920.0,12.368421,9.400000,0,1,1,0
7,1,158.0,audi,gas,turbo,four,sedan,fwd,front,105.8,0.770149,71.4,0.868250,3086,ohc,five,131,mpfi,3.13,3.40,8.30,140.0,5500.0,20,23875.0,13.823529,11.750000,0,1,0,1
9,2,192.0,bmw,gas,std,two,sedan,rwd,front,101.2,0.532836,64.8,0.209393,2395,ohc,four,108,mpfi,3.50,2.80,8.80,101.0,5800.0,29,16430.0,10.217391,8.103448,0,1,1,0
10,0,192.0,bmw,gas,std,four,sedan,rwd,front,101.2,0.532836,64.8,0.209393,2395,ohc,four,108,mpfi,3.50,2.80,8.80,101.0,5800.0,29,16925.0,10.217391,8.103448,0,1,1,0
11,0,188.0,bmw,gas,std,two,sedan,rwd,front,101.2,0.532836,64.8,0.209393,2710,ohc,six,164,mpfi,3.31,3.19,9.00,121.0,4250.0,28,20970.0,11.190476,8.392857,0,1,1,0
12,0,188.0,bmw,gas,std,four,sedan,rwd,front,101.2,0.532836,64.8,0.209393,2765,ohc,six,164,mpfi,3.31,3.19,9.00,121.0,4250.0,28,21105.0,11.190476,8.392857,0,1,1,0
13,1,122.0,bmw,gas,std,four,sedan,rwd,front,103.5,0.714925,66.9,0.785893,3055,ohc,six,164,mpfi,3.31,3.19,9.00,121.0,4250.0,25,24565.0,11.750000,9.400000,0,1,1,0
14,0,122.0,bmw,gas,std,four,sedan,rwd,front,103.5,0.714925,66.9,0.785893,3230,ohc,six,209,mpfi,3.62,3.39,8.00,182.0,5400.0,22,30760.0,14.687500,10.681818,0,1,1,0
15,0,122.0,bmw,gas,std,two,sedan,rwd,front,103.5,0.786567,67.9,-0.037678,3380,ohc,six,209,mpfi,3.62,3.39,8.00,182.0,5400.0,22,41315.0,14.687500,10.681818,0,1,1,0
16,0,122.0,bmw,gas,std,four,sedan,rwd,front,110.0,0.834328,70.9,1.032964,3505,ohc,six,209,mpfi,3.62,3.39,8.00,182.0,5400.0,20,36880.0,15.666667,11.750000,0,1,1,0
17,2,121.0,chevrolet,gas,std,two,hatchback,fwd,front,88.4,0.000000,60.3,-0.243571,1488,l,three,61,2bbl,2.91,3.03,9.50,48.0,5100.0,53,5151.0,5.000000,4.433962,0,1,1,0
18,1,98.0,chevrolet,gas,std,two,hatchback,fwd,front,94.5,0.220896,63.6,-0.737714,1874,ohc,four,90,2bbl,3.03,3.11,9.60,70.0,5400.0,43,6295.0,6.184211,5.465116,0,1,1,0
19,0,81.0,chevrolet,gas,std,four,sedan,fwd,front,94.5,0.264179,63.6,-0.737714,1909,ohc,four,90,2bbl,3.03,3.11,9.60,70.0,5400.0,43,6575.0,6.184211,5.465116,0,1,1,0
20,1,118.0,dodge,gas,std,two,hatchback,fwd,front,93.7,0.241791,63.8,-1.231856,1876,ohc,four,90,2bbl,2.97,3.23,9.41,68.0,5500.0,41,5572.0,6.351351,5.731707,0,1,1,0

In [41]:
mydata2.rename(columns={'std':'std_aspiration', 'turbo':'turbo_aspiration'}, inplace=True)

mydata2.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,highway-mpg,price,city-L/100km,highway-L/100km,diesel_fuel,gas_fuel,std_aspiration,turbo_aspiration
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,0.413433,64.1,-2.055427,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111.0,5000.0,27,16500.0,11.190476,8.703704,0,1,1,0
1,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,0.449254,65.5,-0.572999,2823,ohcv,six,152,mpfi,2.68,3.47,9.0,154.0,5000.0,26,16500.0,12.368421,9.038462,0,1,1,0
2,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,0.529851,66.2,0.209393,2337,ohc,four,109,mpfi,3.19,3.40,10.0,102.0,5500.0,30,13950.0,9.791667,7.833333,0,1,1,0
3,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,0.529851,66.4,0.209393,2824,ohc,five,136,mpfi,3.19,3.40,8.0,115.0,5500.0,22,17450.0,13.055556,10.681818,0,1,1,0
4,2,122.0,audi,gas,std,two,sedan,fwd,front,99.8,0.540299,66.3,-0.284750,2507,ohc,five,136,mpfi,3.19,3.40,8.5,110.0,5500.0,25,15250.0,12.368421,9.400000,0,1,1,0

In [45]:
import category_encoders as ce

In [43]:
!pip install category_encoders

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting category_encoders
  Downloading category_encoders-2.6.0-py2.py3-none-any.whl (81 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 81.2/81.2 KB 3.2 MB/s eta 0:00:00
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (1.10.1)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (0.5.3)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (1.4.4)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (1.22.4)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (0.13.5)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.9/dist-packages (from category_encoders) (1.2.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0.5->category_encoders) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0.5->category_encoders) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from patsy>=0.5.1->category_encoders) (1.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from scikit-learn>=0.20.0->category_encoders) (3.1.0)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.9/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.1.1)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.9/dist-packages (from statsmodels>=0.9.0->category_encoders) (23.0)
Installing collected packages: category_encoders
Successfully installed category_encoders-2.6.0

In [ ]:
mydata2['num-of-doors'].head()

In [46]:
import category_encoders as ce

# encode variables with ordinal encoding

encoder = ce.OrdinalEncoder(cols=['num-of-doors', 'body-style'])

mydata_encode = mydata[['num-of-doors', 'body-style']]
mydata_encode = encoder.fit_transform(mydata_encode)
mydata_encode

     num-of-doors  body-style
0               1           1
1               1           2
2               2           3
3               2           3
4               1           3
..            ...         ...
199             2           3
200             2           3
201             2           3
202             2           3
203             2           3

[200 rows x 2 columns]

**Data Binning**

In [47]:
mydata2['price'].head(30)

0     16500.0
1     16500.0
2     13950.0
3     17450.0
4     15250.0
5     17710.0
6     18920.0
7     23875.0
9     16430.0
10    16925.0
11    20970.0
12    21105.0
13    24565.0
14    30760.0
15    41315.0
16    36880.0
17     5151.0
18     6295.0
19     6575.0
20     5572.0
21     6377.0
22     7957.0
23     6229.0
24     6692.0
25     7609.0
26     8558.0
27     8921.0
28    12964.0
29     6479.0
30     6855.0
Name: price, dtype: float64

In [48]:
bins_price = np.linspace(min(mydata2['price']), max(mydata2['price']), 4)

bins_price

array([ 5118.        , 18545.33333333, 31972.66666667, 45400.        ])

In [50]:
cat_price = ['Low', 'Medium', 'High']

mydata2['price_cat'] = pd.cut(mydata2['price'], bins_price, labels=cat_price) 

mydata2.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,highway-mpg,price,city-L/100km,highway-L/100km,diesel_fuel,gas_fuel,std_aspiration,turbo_aspiration,price_cat
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,0.413433,64.1,-2.055427,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111.0,5000.0,27,16500.0,11.190476,8.703704,0,1,1,0,Low
1,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,0.449254,65.5,-0.572999,2823,ohcv,six,152,mpfi,2.68,3.47,9.0,154.0,5000.0,26,16500.0,12.368421,9.038462,0,1,1,0,Low
2,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,0.529851,66.2,0.209393,2337,ohc,four,109,mpfi,3.19,3.40,10.0,102.0,5500.0,30,13950.0,9.791667,7.833333,0,1,1,0,Low
3,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,0.529851,66.4,0.209393,2824,ohc,five,136,mpfi,3.19,3.40,8.0,115.0,5500.0,22,17450.0,13.055556,10.681818,0,1,1,0,Low
4,2,122.0,audi,gas,std,two,sedan,fwd,front,99.8,0.540299,66.3,-0.284750,2507,ohc,five,136,mpfi,3.19,3.40,8.5,110.0,5500.0,25,15250.0,12.368421,9.400000,0,1,1,0,Low

In [51]:
mydata2[['price', 'price_cat']].head(30)

      price price_cat
0   16500.0       Low
1   16500.0       Low
2   13950.0       Low
3   17450.0       Low
4   15250.0       Low
5   17710.0       Low
6   18920.0    Medium
7   23875.0    Medium
9   16430.0       Low
10  16925.0       Low
11  20970.0    Medium
12  21105.0    Medium
13  24565.0    Medium
14  30760.0    Medium
15  41315.0      High
16  36880.0      High
17   5151.0       Low
18   6295.0       Low
19   6575.0       Low
20   5572.0       Low
21   6377.0       Low
22   7957.0       Low
23   6229.0       Low
24   6692.0       Low
25   7609.0       Low
26   8558.0       Low
27   8921.0       Low
28  12964.0       Low
29   6479.0       Low
30   6855.0       Low

In [52]:
mydata2['price_cat'].value_counts()

Low       169
Medium     18
High       12
Name: price_cat, dtype: int64

In [53]:
mydata2.to_csv('cleaned_data')